@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
body {
   position: relative;
   width: 1152px;
   height: 2041px;
   letter-spacing: 0.015em;
}

/* Bagian atas */
.atas h1 {
   width: 506px;
   height: 105px;
   color: black;
   position: absolute;
   left: 148px;
   top: 228px;
   font-style: normal;
   font-weight: bold;
   line-height: 60px;
   font-family: Heebo;
   font-size: 44px;
}

.atas p {
   width: 497px;
   height: 66px;
   color: black;
   position: absolute;
   left: 148px;
   top: 373px;
   line-height: 23px;
   font-weight: normal;
   font-style: normal;
   font-family: Heebo;
   font-size: 16px;
   text-align: justify;
   margin-top: 40px;
}

.elips {
   position: absolute;
   right: 154px;
   left: 755px;
   top: 223px;
   width: 243px;
   height: 243px;
   background-color: #edf7fa;
   border-radius: 50%;
}

.atas img {
   position: absolute;
   width: 243px;
   height: 243px;
   right: 154px;
   left: 760px;
   top: 210px;
   float: left;
   object-fit: cover;
   border-radius: 50%;
}

/* tengah info */
.tengah {
   position: absolute;
   width: 100%;
   height: 396px;
   left: 0px;
   top: 595px;
   background: #edf7fa;
}

.heading-tengah {
   position: absolute;
   width: 91px;
   height: 22px;
   left: 146px;
   margin: 8px 0px 0px 0px;
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #136223;
}

.info {
   position: absolute;
   width: 398px;
   height: 145px;
   left: 148px;
   margin-top: 50px;
}

.info img {
   width: 16.92px;
   height: 17.6px;
   margin-top: 5.42px;
   float: left;
}

.info p {
   width: 360.67px;
   height: 28.44px;
   margin: 0px 0px 0px 30px;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
}

/* tengah education */
.education {
   position: absolute;
   width: 398px;
   height: 384px;
   left: 578px;
   right: 176px;
   top: 607px;
}

.heading-education {
   position: static;
   width: 91px;
   height: 22px;
   left: 146px;
   margin: 0px 0px 0px 0px;
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #136223;
}

.sub-heading {
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   margin: 16px 0px 6px 0px;
}
.education p {
   font-family: Inter;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   margin: 0px 0px 06px 0px;
}

ul {
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   list-style-position: inside;
   padding: 0;
   margin: 0px 0px 06px 0px;
}

ul li {
   margin: 0px 0px 06px 0px;
}

/* custom bootstrap css */

#project {
   position: absolute;

   left: 146px;
   top: 1020px;
}

#footer {
   position: relative;
   top: 1859px;
   left: 459px;
}
